*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
.bar1{
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
}
.logo-box{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    /* background-color: seagreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-box a img{
    height: 80px;
}
.search-box{
    width: 70%;
    height: 30px;
    background-color: blue;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 0 #888;
    /* padding: 5px; */
    /* justify-content: space-between; */
}
.search-box input{
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    padding: 10px;
}
.search-box .btn-search{
    width: 10%;
    height: 100%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.search-box .btn-search:hover{
    background-color: #eee;
}
.menu-bar{
    width: 100%;
    background-color: rgb(5, 142, 196);
    display: flex;
    justify-content: center;
    
}
.menu{
    width: 80%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    
}

.menu ul{
    display: flex;
    /* gap: 20px; */
    
}
.menu ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 7px;
   
}
.menu ul li a:hover{
    background-color: rgb(8, 126, 173);
    border-radius: 8px;
}
.container{
     width: 80%;
     /* background-color: aqua; */
     margin: auto;
     margin-top: 10px;
     padding-bottom: 5px;
}
.container .title-box{
    width: 100%;
    /* background-color: #eee; */
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
    border-radius: 5px;
}
.container .title-box:hover{
    color: rgba(4, 231, 102, 0.853);
}
.item-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 8px;

}
.item-box{
    width: 24.5%;
    height: 350px;
    background-color: seagreen;
    box-shadow: 0px 0px 1px 0 rgb(67, 65, 65);
    border-radius: 5px;
    overflow: hidden;
    
}
.item-box .img-box{
    width: 100%;
    height: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.item-box .img-box::before{
    content: "";
    width:100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.425);
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    cursor: pointer;
    background-image: url(img/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}
.item-box .img-box:hover::before{
    display: block;
}


.item-box .img-box .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.314);
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.item-box .img-box:hover .cover{
    display: flex;

}

.item-box .img-box img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.item-box .txt-box{
    width: 100%;
    height: 40%;
    background-color: #eee;
    position: relative;
   
}
.item-box .txt-box h1{
    margin: 0;
    margin-left: 3px;
    font-size: 16px;
}
.item-box .txt-box p{
    margin: 0;
    margin-left: 5px;
    font-size: 13px;
}
.item-box .txt-box .btn-box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #888;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
}
.item-box .txt-box .btn-box .btn{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    gap: 3px;
    font-size: 12px;

}

.btn-cart{
    background-color: orange;
}
.btn-cart:hover{
    background-color: rgb(204, 134, 4);
}
.btn-share{
    background-color: rgba(35, 35, 208, 0.837);
}
.btn-share:hover{
    background-color: rgb(6, 6, 166);
}
.btn-copy{
    background-color: rgb(133, 185, 4);
}
.btn-copy:hover{
    background-color: rgb(117, 162, 2);
}

.Price{
   position: absolute;
   right: 8px;
   bottom: 36px;
   color: red;
   font-size: 20px;
}
.Price:hover{
    color: black;
}
.pro-box{
    margin: auto;
    width: 80%;
    height: 200px;
    /* background-color: black; */

    /* overflow: hidden; */
    padding-bottom: 15px;
    
}
.pro-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.footer{
    width: 100%;
    height: 250px;
    background-color: rgb(5, 142, 196);
    padding-top: 15px;
    display: flex;
    /* margin: auto;
    justify-content: space-between;
    align-items: center; */
    color: white;
    
}
.footer-bar{
    width: 80%;
    height: 170px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;
}
.footer h1{
    margin: 0;
    font-size: 20px;
  
}
.footer h1:hover{
    color: rgb(252, 2, 6);
}
.footer p{
    margin: 0;
    font-size: 14px; 
    padding-left: 5px; 
    color: #f8f9faa1;  
}
.About p:hover{
    color: rgba(255, 42, 42, 0.804);
}
.Contact p:hover{
    color: rgba(255, 42, 42, 0.804);
}

